[Unit]
Description=Quad9 DNS over QUIC proxy
Documentation=https://github.com/AdguardTeam/dnsproxy
DefaultDependencies=no
After=systemd-sysusers.service
Before=systemd-resolved.service nss-lookup.target

[Service]
Type=simple
DynamicUser=yes
Environment=ECS_UPSTREAMS=
EnvironmentFile=-/etc/dnsproxy/ecs.env
ExecStart=/usr/bin/dnsproxy \
    --listen=127.0.0.1 --port=53 \
    --upstream=quic://dns.quad9.net:853 \
    $ECS_UPSTREAMS \
    --bootstrap=9.9.9.9:53 --bootstrap=149.112.112.112:53 \
    --timeout=2s \
    --cache --cache-size=4194304 \
    --pending-requests-enabled
Restart=on-failure
RestartSec=1s

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM

[Install]
WantedBy=sysinit.target
